<body class ="topbody">
 <div class="container">
  <div class="row text1">
    <h2 class="col-lg-8 ">
    おはようございます
    </h2>
    <div class="col-lg-8">
    このサイトはより良い寝具をお互いに紹介・共有するSNSサイトです。
    </div>
    <div class="col-lg-8">
    ご登録いただき、ご自身の”こだわりの寝具”を紹介してください
    </div>
  </div>
 </div>
</body>