<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="homes.scss">
</head>
<body class = "topbody">
    <div class="container">
     <div class="row text1">
      <h1 class>快適な眠りを</h1>
     </div>
    </div>
</body>
</html>

