/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 h1{
   font-family: 'Galada', cursive;
 }

 html, body {
  font-family: "Noto Sans JP";
 }

 footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #848282;
}

.footer-text {
  color: #fff;
}

 body {
  background-image: image-url('bed.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  z-index: 0;
}

// body::before{
//   background: inherit;
//   content: '';
//   filter: blur(5px);
//   position: absolute;
//   top: -5px;
//   right: -5px;
//   bottom: -5px;
//   left: -5px;
// }